.checkOut {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.238);
    box-shadow: 5px 5px 10px rgb(255, 255, 255);
    padding: 20px;
    height: 350px;
}

.checkOut p {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    font-size: 12px;
    justify-content: space-between; /* Esto coloca el texto al inicio y el span al final */
}

.checkOut p span {
    text-align: end;
}

.order {
    margin-top: 15px;
}

.totalPrice {
    display: flex;
    font-size: 25px;
}

.spacer {
    flex-grow: 1;
}

.checkOut h2 {
    font-size: 20px;
}
.checkOut h3 {
    font-size: 15px;
    margin-top: 5px;
    text-align: left;
}

.goToOrder {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    width: 150px;
    margin: auto;
    margin-top: 15px;
    padding-bottom: 5px;
    cursor: pointer;
    
}

.error {
    color: red;
}

@media (max-width: 800px) {
    .checkOut {
        max-width: 80vw;
        margin: auto;
        margin-top: 60px;
    }
}