.container {
    height: 91vh;
}

.carritoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    margin-top: 30px;
}


.keepShoping {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

@media (max-width: 800px) {
    .carritoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .carrito {
        margin: auto;
    }
}