.checkOut {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.238);
    box-shadow: 5px 5px 10px rgb(255, 255, 255);
    padding: 20px;
    height: 300px;
    border-radius: 10px;
}

.checkOut p {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between; /* Esto coloca el texto al inicio y el span al final */
}

.checkOut p span {
    text-align: right;
}

.totalPrice {
    display: flex;
    margin-bottom: 20px;
    font-size: 25px;
}

.spacer {
    flex-grow: 1;
}

.goToOrder {
    margin: auto;
    padding-bottom: 2px;
    border-bottom: 1px solid white;
    width: 100px;
}

@media (max-width: 800px) {
    .checkOut {
        max-width: 80vw;
        margin: auto;
        margin-top: 120px;
    }
}