.carritoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}


.comeBack {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 30px;
    border-bottom: 1px solid white;
    width: 100px;
}



@media (max-width: 800px) {
    .carritoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .carrito {
        margin: auto;
    }
}