.container {
    position: relative;
    display: flex;
}



.imagesContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    top: 10px;
}

.dataContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    top: 10px;
    margin-right: 20px;
}

.dataContainer .price {
    margin-top: 20px;
}

.dataContainer h1 {
    font-size: 20px;
}

.dataContainer p {
    margin-top: 10px;
}

.cartButton {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 5px 0;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
}

.description {
    margin-bottom: 40px;
}

.description h3 {
    font-size: 15px;
}

.descriptionText {
    margin-top: 15px;
    text-align: left;
}
.productSlideShow {
    width: 90%;
}

@media (max-width: 800px){
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagesContainer {
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .dataContainer {
        width: 80%;
        margin: -130px auto;
        padding: 0 20px;
    }
    .description {
        margin-top: 20px;
    }
    .description p {
        margin-top: 10px;
    }
}