.sizeContainer {
  margin-top: 30px;
}

.sizeButton {
  color: red;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background: none;
  }
  
  .selected {
    border: none;
    border-bottom: 1px solid white;
    background: none;
  }
  
  .sizeContainer h3 {
    font-size: 15px;
  }