.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  text-justify: auto;
  width: 80%;
  margin: auto;
  gap: 10px;
}

.aboutContainer {
  display: flex;
  justify-content: space-around;
}

.categoriesContainer {
  margin-top: 30px;
}

.categoriesLinksContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.categoryLink {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.typesContainer {
  margin-top: 30px;
}

.typesContainer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  gap: 30px;
}

.typesContainer li {
  list-style: none;
}

.socialContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.socialContainer h4 {
  margin-top: 10px;
}

.socialContainer p {
  margin-top: 10px;
}

.socialWebsContainer {
  display: flex;
  justify-content: center;
  font-size: 30px;
  gap: 30px;
  margin-top: 10px;
}

.mapContainer {
  margin-top: 20px;
  padding: 0 20px;
}

.map {
  margin-top: 20px;
}

.categoryLink {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  padding: 4px 5px;
}

.logoWhatsApp {
  color: rgb(30, 225, 53);
}

.logoFacebook {
  color: rgb(07, 102, 255);
}

.logoTwitter {
  color: rgb(8, 160, 233);
}



@media (max-width: 800px) {
  .container {
    display: flex;
    margin: auto;
    width: 70%;
  }
  .aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .mapContainer {
    padding: 0;
    width: 100%;
  }
  .map {
    width: 100%;
  }
}
