.container {
    margin-top: auto
}

.navigation ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navigation li {
    list-style: none;
}

.activePage {
    color: rgb(255, 255, 255);
    background-color: rgb(8, 80, 237);
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 4px;
}
