

.productsContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
    margin-left: 10px;
    max-width: 400px;
    margin-bottom: 20px;
}

.quantitySelector {
    margin-left: 20px;
    min-width: 105px;
    max-width: 105px;
}

.title {
    font-size: 12px;
    margin-left: 10px;
    text-align: start;
}

.price {
    font-size: 10px;
    margin-top: 10px;
    margin-left: 15px;
    min-width: 20px;
    max-width: 20px;
}

.priceAndQuantity {
    display: flex;
    min-width: 240px;
    max-width: 240px;
}

.remove {
    font-size: 25px;
    margin-top: auto;
    margin-left: 50px;
}

.remove:hover {
    font-size: 25px;
    color: red;
    cursor: pointer;
}

.productContentContainer {
    display: flex;
    flex-direction: column;
}