.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(240, 248, 255, 0.041);
}

.container th, .container td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.container th {
    background-color: #353535;
}

.container td {
    vertical-align: middle;
}

.container td span {
    display: flex;
}

.state {
    display: flex;
    justify-content: center;
}