.formContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.formContainer .productData {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.formContainer .productData span {
    display: flex;
    text-align: left;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 5px;
}

.formContainer .productData input {
    display: flex;
    width: 300px;
    padding: 5px;
}

.formContainer .productData textarea {
    display: flex;
    resize: none;
    width: 300px;
    height: 150px;
    overflow: auto;
    overflow-x: hidden;
    white-space: normal;
    word-wrap: break-word;
    padding: 5px;
}

.formContainer .productData select {
    display: flex;
    width: 300px;
    padding: 5px;
}

.sizesContainer {
    display: flex;
    flex-direction: column; /* Coloca el título y las tallas en columna */
    gap: 10px; /* Espaciado entre el título y las tallas */
  }
  
  .sizesTitle {
    text-align: left;
    font-weight: bold;
  }
  
  .sizeMap {
    display: flex;
    flex-direction: row; /* Asegura que las tallas estén en fila */
    gap: 10px; /* Espaciado entre las tallas */
}

.sizeSelected {
    display: flex;
    color: rgb(209, 208, 208);
    background-color: rgb(12, 12, 162);
    border: 1px solid rgb(143, 143, 143);
    padding: 2px 4px;
    border-radius: 2px;
    cursor: pointer;
}

.sizeNonSelected {
    display: flex;
    cursor: pointer;
}

.photosGrid {
        display: grid;
        align-items: center;
        justify-items: center;
        margin: 40px auto;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
        /* grid-auto-rows: minmax(100px, auto); */
}

.imageContainer {
    display: flex;
    flex-direction: column;
}

.deleteButton {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: brown;
    background-color: rgb(122, 2, 2);
    cursor: pointer;
}

.saveButton {
    display: flex;
    justify-content: center;
    width: 75px;
}

@media (max-width: 800px) {
    .formContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .productDataContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
}