.formContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.formContainer .productData {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.formContainer .productData span {
    display: flex;
    text-align: left;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 5px;
}

.formContainer .productData input {
    display: flex;
    width: 300px;
    padding: 5px;
}

.formContainer .productData textarea {
    display: flex;
    resize: none;
    width: 300px;
    height: 150px;
    overflow: auto;
    overflow-x: hidden;
    white-space: normal;
    word-wrap: break-word;
    padding: 5px;
}

.formContainer .productData select {
    display: flex;
    width: 300px;
    padding: 5px;
}

.sizesContainer {
    display: flex;
    flex-direction: column; /* Coloca el título y las tallas en columna */
    gap: 10px; /* Espaciado entre el título y las tallas */
  }
  
  .sizesTitle {
    text-align: left;
    font-weight: bold;
  }
  
  .sizeMap {
    display: flex;
    flex-direction: row; /* Asegura que las tallas estén en fila */
    gap: 10px; /* Espaciado entre las tallas */
  }
  
.photosGrid {
        display: grid;
        align-items: center;
        justify-items: center;
        margin: 40px auto;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
        /* grid-auto-rows: minmax(100px, auto); */
}

.imageContainer {
    display: flex;
    flex-direction: column;
}

.imageContainer button {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: brown;
    background-color: rgb(122, 2, 2);
}


.saveButton {
    display: flex;
    justify-content: center;
    width: 75px;
}

