.container {
    flex: 1;
    
}

.pagination {
    margin-top: 150px;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 330px;
    gap: 65px;
}

