.container {
    display: flex;
    gap: 10px;
}

.paidFalse {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    background-color: red;
    border-radius: 5px;
    width: 100%;
    padding: 0 3px 0 3px;
}

.paidTrue {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    background-color: rgb(15, 144, 3);
    border-radius: 5px;
    width: 100%;
    padding: 0 3px 0 3px;
}

.paidTrue p {
    margin-left: 5px;
}

.paidFalse p {
    margin-left: 5px;
}