.container {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.handleAmountButton {
    border: none;
    background: none;
    cursor: pointer;
    
}

.amount {
    border: 3px solid black;
    padding: 7px 10px;
    border-radius: 5px;
    margin: 0 5px;
}

