.container {
    display: flex;
    flex-direction: column;
}

.formContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 275px;
    height: 300px;
    box-shadow: 2px 2px 10px white;
    border-radius: 5px;
    padding: 5px 30px;
    margin-top: 100px;
}

.formContainer label {
    margin-top: 15px;
}

.formContainer input {
    color: black;
    margin-top: 5px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    box-shadow: 0 0 0px 1000px rgb(61, 61, 61) inset;
    border-radius: 2px;
    padding: 2px 3px;
}

.formContainer input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px rgb(61, 61, 61) inset;
    -webkit-text-fill-color: #000; /* Cambia el color del texto según lo necesites */
    border-radius: 2px;
    padding: 2px 3px;
}

.formContainer button {
    background: none;
    border: none;
    box-shadow: 0px 10px 5px -9px rgb(255, 255, 255);
    border-radius: 5px;
    padding: 7px;
    width: 90px;
    margin: auto;
    margin-top: auto;
    cursor: pointer;
}

.loginLink {
    /* border-bottom: 1px solid white; */
    box-shadow: 0px 10px 5px -9px white;
    border-radius: 5px;
    padding: 5px;
    width: 10%;
    font-size: 14px;
    margin: auto;
    margin-top: 10px;
}

.p {
    margin-top: 30px;
}

