.cartButton {
    background-color: rgb(8, 80, 237);
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 5px 0;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 6px;
}

.cartButton:hover {
    border-color: white;
}

.cartButton:active {
    background-color: rgb(1, 37, 114);
}
